{% extends 'base1.html' %}
{% block body %}
<div class="container my-3 col-md-6 mx-auto mt-5">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h2 class="text-center">Update Dish</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/update_dish/{{ dish.id }}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="dish_name" class="form-label">Dish Name:</label>
                    <input type="text" id="dish_name" name="name" class="form-control" value="{{ dish.name }}"
                        placeholder="Enter Dish Name" required>
                </div>
                <div class="mb-3">
                    <label for="dish_price" class="form-label">Price:</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" id="dish_price" name="price" class="form-control"
                            value="{{ dish.price }}" step="0.01" placeholder="Enter Price" required>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" id="available" name="available" class="form-check-input"
                        {% if dish.available %}checked{% endif %}>
                    <label class="form-check-label" for="available">Available</label>
                </div>
                <div class="mb-3">
                    <label for="dish_image_url" class="form-label">Image URL:</label>
                    <input type="url" id="dish_image_url" class="form-control" name="dish_image_url"
                        value="{{ dish.image_url }}" placeholder="Enter Image URL" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success form-control">Update Dish</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
{% endblock body %}
